
<div class="wrapper">
      <div class="lead text-center">
        <h1>welcome to strack</h1>
        <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
         <h2>Vos performance sportive en un clique</h2>
         <link href='http://fonts.googleapis.com/css?family=Salsa' rel='stylesheet' type='text/css'>
        <p>
          <%= link_to "Inscrivez-vous", new_user_session_path, class: "btn btn-primary btn-lg" %>
        </p>
      </div>
</div>


<div class="vertical-spacer"></div>

<div class="vertical-spacer"></div>

    <div class="container">
      <div class="row text-center">
        <div class="col-sm-6 col-md-4">
          <div class="feature">
             <%= image_tag "iphone-100.png", {class: "img-logo", id: "logo"}%>
            <p>
               Enregistrez vos activités sportives à l'aide d'un des <strong> nombreux GPS compatibles</strong>.
            </p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="feature">
            <%= image_tag "regular_biking-100.png", {class: "img-logo", id: "logo"}%>
            <p>
              Téléchargez votre activité à partir de </strong> l'appareil</strong> .
            </p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="feature">
            <%= image_tag "monitor-100.png", {class: "img-logo", id: "logo"}%>
            <p>
              Consultez vos activités sur <strong> YouStrack.com </strong>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

