@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'bootstrap-datetimepicker';
@import "navbar";
@import "footer";
@import "home";

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
}
.alert, .notice {
  float: left;
  margin-top: 40px;
}

body{
  padding-top: 100px;
}