#footer {
  background-color: transparent;
  color: white;
  padding-top:3em;
  padding-bottom: 3em;
  bottom: 0;
  width: 100%;
  position: absolute;

  .social {
    li {
      a {
        color: #fff;
        display: inline-block;
        height: 40px;
        width: 40px;
        margin: 0 5px 20px 5px;
        font-size: 25px;
        border-radius: 50%;
        border: 2px solid #fff;

        webkit-transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;

        &:hover {
          color: #ff0000;
          border: 2px solid #ff0000;
        }
      }
    }
  }
}
