html {
    position: relative;
    min-height: 100%;
}
.row {
padding-top: 0px;
}
#footer {
background-color:black;
color: white;
padding-top:3em;
padding-bottom: 3em;
font-family: 'lobster', cursive;
bottom: 0;
width: 100%;
position: absolute;
}

h3 {
  font-family: 'Pacifico', cursive;
  color: black;
}
