// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper {
  background-image: asset-url("nike_running.jpg");
  background-size: cover;
  height: 650px;
  text-align: center;
  color: white;
  padding-top: 160px;

}
.feature {
  margin-top: 4em;
  margin-bottom: 6em;
}

h1{
  font-size: 80px;
  letter-spacing:10px;
  color: white;
}

h2 {
letter-spacing: 5px;
font-size: 30px;
font-family: 'pacifico'
}