// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper {
background-image: url(nike_running.jpg);
background-size: cover;
height: 650px;
font-family: 'lobster','cursive';
padding-top: 160px;
text-align: center;
color: white;
}



h1{
  font-size: 80px;
  font-family: 'lobster' ,'cursive';
  letter-spacing:10px;
  color: white;
;
}
h2{
  font-family: 'open sans'
}