.feature {
  margin-top: 8em;
  margin-bottom: 8em;


}

.form-inputs {
  padding-left: 20px;
  padding-right: 20px;
}

.sign-up {
  background-image: asset-url("chamberlain_running.jpg");
  background-size: cover;
  height: 650px;
  padding-top: 150px;
  text-align: center;
  color: white;
}

.container-new {
display:block;
background-color: black;

}

.registration-panel {
background: rgba(0,0,0,0.75);
color: lightgrey;
margin: 0 auto;
font-family: 'Open Sans';
  .form{
    font-family: 'Open Sans';
  }
}


h2{
color: white;
font-family: 'Open Sans';
font-weight: bold;

}

.sign-in {
 background-image: asset-url("UNC_TEAM_TOGETHER.jpg");
  background-size: cover;
  height: 650px;
  font-family: 'Open Sans';
  padding-top: 150px;
  text-align: center;
  color: white;
}

h3 {
font-family:'Open Sans';
}
